:root {
    --primaryDark: #252836;
    --secondaryDark: #1F1D2B;
    --primaryPink: #EA7C69;
    --textLight: #ABBBC2;
    --formBG: #2D303E;
}

body {
    background-color: var(--primaryDark);
}

.sidebar,
.cartbar {
    background-color: var(--secondaryDark);
    color: var(--primaryPink);
    height: 100vh;
}

.header {
    color: #ffff;
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
}

.date {
    color: var(--textLight);
}

.form-control,
.input-group-text {
    background-color: var(--formBG);
    border: none;
    color: #ffff;
}

input[type=text],
input[type=text]:focus {
    color: #ffff;
    background-color: var(--formBG);
}

.logo {
    background-color: #EA9769;
    border-radius: 10%;
    opacity: 0.8;
}

svg {
    width: 30px;
    height: 30px;
}

path {
    fill: #EA7C69;
}

.active {
    background-color: var(--primaryDark);
}

a .active {
    background-color: #EA7C69;
}